#upload INPUT {
	width: 100%;
}
.drop {
	width: 100%;
}
.drop .msg {
	padding: 50px;
	border: 4px dashed black;
	border-radius: 32px;
}
.upthumb {
	max-width: 100px;
	max-height: 60px;
}
.progress {
	border: 1px solid black;
	margin-top: 3px;
}
.progress .bar {
	background: green;
	height: 3px;
	width: 1px;
}
