/*
 * vi:ft=css
 */
@lightbg: #9CD493;
@darkbg:  #ACE4A3;
@border:  #7EB977;
@link:    #000099;

@import "vtb_base.less";
@import "vtb_tables.less";
@import "vtb_navbar.less";
@import "vtb_body.less";

@import "tags.less";
@import "comment.less";
@import "home.less";
@import "post.less";
@import "bans.less";


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#pagelist {
	margin-top: 32px;
}

SECTION>.blockbody,
SECTION>DIV:first-child:last-child,
H3 + DIV:last-child,
.comment,
.setupblock {
	background: @darkbg;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid @border;
	padding: 8px;
	font-size: 12px;
}

SECTION>H3 {
	text-align: center;
	background: @lightbg;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid @border;
	padding: 8px;
}

div#twitter_update_list li {
	list-style:none;
	padding-bottom:0px;
	text-align:left;
	margin-top:5px;
	margin-bottom:5px;
	border: solid 1px #000;
	background: url(bg.png);
}

.bgtop {
	width: 100%;
	height: 113px;

	TD {
		text-align: center;
	}

	.flags IMG {
		width: 25px;
		height: 16px;
	}
}

UL.tagit {
	margin: 0px;

	li.tagit-choice-read-only { 
		padding: .0em .2em .0em .2em; 
	} 
	li.tagit-choice-editable { 
		padding: 2px 18px 1px 4px; 
	} 
	li.tagit-new {
		padding: .0em 4px .0em 0;

		INPUT {
			height: 24px;
		}
	}
}

/*
 * r34 specifics
 */
HEADER {
	.flags, FORM, UL {
		margin: 8px;
	}
}
UL.tagit {
	border: 1px solid @border;
}
TEXTAREA {
	border: 1px solid @border;
	border-radius: 2px;
}
INPUT[type="submit"],
INPUT[type="button"],
INPUT[type="text"],
INPUT[type="password"],
INPUT[type="search"] {
	border: 1px solid @border;
	border-radius: 2px;
	height: 24px;
}
INPUT[type="submit"],
INPUT[type="button"] {
	background: @lightbg;
	color: @link;
	font-weight: bold;
}
INPUT[type="text"],
INPUT[type="password"],
INPUT[type="search"] {
	padding-left: 4px;
	padding-right: 4px;
}
.searchbutton {
	TABLE {
		max-width: 400px;
		margin: auto;
	}
	
	TD {
		padding: 0px;
	}
	UL.tagit,
	INPUT[type="search"] {
		border-radius: 2px 0px 0px 2px;
	}
	INPUT[type="submit"] {
		border-radius: 0px 2px 2px 0px;
		border-left: 0px;
	}
}
UL.menu {
	font-weight: bold;
	height: 1em;
	LI {
		list-style: none;
		display: inline-block;
		width: 100px;
		float: left;
	}
}

